.container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  width: clamp(90%, 70%, 1440px);
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 1rem;
    margin: 0;
  }
}

.test_div {
  min-height: 100vh;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
}
// for futur use
//

// .text-underlined {
//   -webkit-text-decoration-line: underline;
//   text-decoration-line: underline;
//   -webkit-text-decoration-style: solid;
//   text-decoration-style: solid;
//   -webkit-text-decoration-color: var(--color-primary);
//   text-decoration-color: var(--color-primary);
//   text-decoration-thickness: 1px;
//   text-underline-offset: .2em
// }

// .text-truncated {
//   text-overflow: ellipsis;
//   white-space: nowrap;
//   overflow: hidden
// }
