.hero {
  // gap: 2rem;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  width: clamp(90%, 70%, 1440px);
}

@media only screen and (max-width: 800px) {
  .hero {
    box-shadow: none;
  }
}
@media only screen and (max-width: 768px) {
  .hero {
    width: 100%;
    margin: 0 1rem;
  }
}
