.container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  width: clamp(90%, 70%, 1440px);
}
.featured_collections {
  padding: 1rem;
  background-color: red;
  height: 100vh;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 1rem;
    margin: 0;
  }
}

// for futur use
// .heading-1 {
//   font-size: 42px;
//   font-size: clamp(42px, -6.5915492958px + 9.7183098592vw, 180px);
//   line-height: 100%
// }

// .heading-2 {
//   font-size: 42px;
//   font-size: clamp(42px, 4.676056338px + 7.4647887324vw, 148px);
//   line-height: 100%
// }

// .heading-3 {
//   font-size: 36px;
//   font-size: clamp(36px, 14.8732394366px + 4.2253521127vw, 96px);
//   line-height: 100%
// }

// .heading-4 {
//   font-size: 32px;
//   font-size: clamp(32px, 16.5070422535px + 3.0985915493vw, 76px);
//   line-height: 100%
// }

// .heading-5 {
//   font-size: 26px;
//   font-size: clamp(26px, 15.4366197183px + 2.1126760563vw, 56px);
//   line-height: 120%
// }

// .heading-6 {
//   margin-bottom: 1em;
//   font-size: 22px;
//   font-size: clamp(22px, 12.8450704225px + 1.8309859155vw, 48px);
//   line-height: 130%;
//   font-weight: 300
// }

// .text-large {
//   font-size: 18px;
//   font-size: clamp(18px, 15.8873239437px + 0.4225352113vw, 24px)
// }

// .text-medium {
//   font-size: 18px;
//   font-size: clamp(18px, 17.2957746479px + 0.1408450704vw, 20px)
// }

// .text-underlined {
//   -webkit-text-decoration-line: underline;
//   text-decoration-line: underline;
//   -webkit-text-decoration-style: solid;
//   text-decoration-style: solid;
//   -webkit-text-decoration-color: var(--color-primary);
//   text-decoration-color: var(--color-primary);
//   text-decoration-thickness: 1px;
//   text-underline-offset: .2em
// }

// .text-truncated {
//   text-overflow: ellipsis;
//   white-space: nowrap;
//   overflow: hidden
// }
