.container {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  h1 {
    text-transform: capitalize;
    font-size: 20px;
    line-height: 1.35;
    padding-bottom: 0.5em;
    text-align: center;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    padding: 0 1rem;
    gap: 1.5rem;
    h1 {
      font-size: 16px;
    }
    .grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
@media only screen and (max-width: 720px) {
  .container {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
