.container {
  display: flex;
  margin: 0 auto;
  line-height: 100%;
  width: clamp(90%, 70%, 1440px);
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    margin: 0;
    padding: 0 1rem;
  }
}
