@import "../variables.scss";

.page_header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: clamp(30px, 4vw, 60px);
  h1 {
    font-size: $responsive_f5;
    line-height: 1.5;
  }
}
.description {
  line-height: 1.5;
  font-size: $base;
}
.grid {
  margin-top: clamp(30px, 4vw, 60px);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-flow: row dense;
  grid-gap: 40px 20px;
}
@media only screen and (max-width: 768px) {
  .description {
    font-size: $sm;
  }
  .page_header {
    grid-gap: 2em;
    grid-template-columns: 1fr;
  }
  .grid {
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
