.container {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}
.product_info {
  gap: 0.25rem;
  display: grid;
  grid-template-columns: 1fr auto;
  a {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    line-height: 1.25;
    text-transform: capitalize;
    font-family: inherit;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  span {
    font-size: 13px;
    color: #757575;
    line-height: 1.25;
  }
}
.image_wrp {
  position: relative;
  aspect-ratio: 2 / 3;
  border-radius: 8px;
  overflow: hidden;
  &:hover {
    .product_image {
      transform: scale(1.01);
    }
  }
}
.product_image {
  transition: transform 0.3s ease;
}
@media only screen and (max-width: 768px) {
  .product_info {
    a {
      font-size: 14px;
    }
  }
}
@media only screen and (max-width: 500px) {
  .product_info {
    grid-template-columns: 1fr;
  }
}
