.container {
  gap: 0.25rem;
  display: flex;
  flex-direction: column;
}
.product_info {
  gap: 0.25rem;
  display: grid;
  grid-template-columns: 1fr auto;
  a {
    display: inline-block;
    width: 100%;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-family: inherit;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
.image_wrp {
  position: relative;
  aspect-ratio: 2 / 3;
  border-radius: 8px;
  overflow: hidden;
  &:hover {
    .product_image {
      transform: scale(1.01);
    }
  }
}
.product_image {
  transition: transform 0.3s ease;
}
