@import "../../../variables.scss";

.container {
  top: 100px;
  height: 100vh;
  padding: 1rem 3rem;
  position: sticky;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding-top: 18vh;
  margin: 0 auto;
  .top {
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #e5e7eb;
  }
  h1 {
    text-transform: capitalize;
    font-size: $responsive_f6;
    line-height: 1.25;
    padding-bottom: 0.5em;
  }
  .pricing_wrp {
    line-height: 1;
    font-size: $sm;
    color: #757575;
  }
  .product_description {
    font-size: $base;
    color: rgb(0 0 0/1);
    line-height: 1.5;
  }
  .buttons_wrp {
    gap: 1rem;
    display: flex;
    padding-top: 1.5rem;

    > button {
      flex: 1;
    }
  }
}

@media only screen and (max-width: 900px) {
  .container {
    padding: 0;
    position: initial;
    height: fit-content;
    .top,
    .buttons_wrp {
      display: none;
    }
    .product_description {
      font-size: $sm;
      padding: 2rem 0;
    }
  }
}
