.card_top {
  overflow: hidden;
  position: relative;
  border-radius: 12px;
  &:hover {
    .card_hover {
      opacity: 1;
      visibility: visible;
    }
  }
}
.image_wrp {
  overflow: hidden;
  position: relative;
  border-radius: 12px;
  transition: all 0.3s;
  aspect-ratio: 16 / 12;
}
.card_extra {
  padding-top: 0.75rem;

  a {
    display: inline-block;
    width: 100%;
    font-weight: 600;
    font-size: clamp(16px, 13.1830985915px + 0.5633802817vw, 20px);
    font-family: inherit;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.card_hover {
  top: 0;
  opacity: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  visibility: hidden;
  align-items: flex-end;
  padding: 1.5rem 1.5rem 1.3rem 1.5rem;
  color: #fff;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  transition: all 0.3s;
  pointer-events: none;
  .btn_wrp {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }
}
.card_hover_content {
  flex: 1;
  display: flex;
  line-height: 1.5;
  flex-direction: column;
  span {
    font-size: 0.5rem;
    font-weight: 200;
    text-transform: uppercase;
  }
  div {
    font-weight: 500;
    font-size: 0.9rem;
    text-transform: capitalize;
  }
}
.card_image {
  object-fit: cover;
}
.card_info {
  display: flex;
  flex-direction: column;
  gap: clamp(20px, 3vw, 20px);
  padding: clamp(20px, 3vw, 20px);
}
