.grid {
  margin-top: clamp(30px, 4vw, 60px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

@media only screen and (max-width: 1000px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 720px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
