@import "../../../variables.scss";

.h1 {
  font-weight: 300;
  text-align: center;
  padding-bottom: 3rem;
  text-transform: capitalize;
  font-size: $responsive_f4;
  line-height: 1.5;
}
.p {
  text-align: center;
  font-size: $base;
  padding-bottom: 6rem;
  a {
    all: unset;
    cursor: pointer;
    transition: opacity 0.3s ease;
    border-bottom: 1px solid #000;
    &:hover {
      opacity: 0.6;
    }
  }
}
.content {
  padding: 0;
  border-bottom: 0.1rem solid rgba(10, 4, 0, 0.15);
  display: flex;
  flex-direction: column;
}

.back_to_top {
  display: flex;
  color: #0a0400;
  align-items: center;
  margin: 9.2rem auto 0;
  padding: 0.25rem 0.5rem;
  text-transform: uppercase;
  background-color: transparent;
  font-size: $base;
  svg {
    height: 1rem;
    width: 1.3rem;
    margin-left: 0.6rem;
    transform: rotate(-180deg);
  }
}
@media only screen and (max-width: 768px) {
  .h1 {
    padding-bottom: 1.5rem;
  }
  .p {
    font-size: $xs;
    padding-bottom: 3rem;
  }
  .content {
    margin: 1.5rem 0;
  }
  .back_to_top {
    font-size: $xs;
    margin: 3rem auto 0;
    svg {
      width: 0.8rem;
      height: 0.5rem;
    }
  }
}
