.h1 {
  font-weight: 300;
  text-align: center;
  padding-bottom: 3rem;
  text-transform: capitalize;
  font-size: clamp(26px, 15.4366197183px + 2.1126760563vw, 56px);
}
.p {
  text-align: center;
  padding-bottom: 6rem;
  a {
    all: unset;
    cursor: pointer;
    transition: opacity 0.3s ease;
    border-bottom: 1px solid #000;
    &:hover {
      opacity: 0.6;
    }
  }
}
.content {
  padding: 0;
  border-bottom: 0.1rem solid rgba(10, 4, 0, 0.15);
  display: flex;
  flex-direction: column;
}

.back_to_top {
  display: flex;
  color: #0a0400;
  align-items: center;
  margin: 9.2rem auto 0;
  padding: 0.25rem 0.5rem;
  text-transform: uppercase;
  background-color: transparent;
  svg {
    width: 0.8rem;
    height: 0.5rem;
    margin-left: 0.6rem;
    transform: rotate(-180deg);
  }
}
@media only screen and (max-width: 768px) {
  .h1 {
    padding-bottom: 1.5rem;
  }
  .p {
    padding-bottom: 3rem;
  }
  .content {
    padding: 3rem 0;
  }
  .back_to_top {
    font-size: 0.9rem;
    margin: 3rem auto 0;
  }
}
