@import "../variables.scss";
.container {
  flex: 1;
  gap: 1.5rem;
  display: flex;
  overflow: hidden;
  padding-top: 2rem;
  flex-direction: column;
}
.content {
  flex: 1;
  gap: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  p {
    width: 80%;
    max-width: 70rem;
    text-align: center;
    line-height: 1.6;
    font-size: $base;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 1rem;
    p {
      width: 100%;
      max-width: unset;
      font-size: $sm;
      text-align: justify;
    }
  }
}
