@import "../../../variables.scss";

.container {
  inset: 0;
  z-index: 999;
  position: fixed;
  padding: 1.5rem 1rem;
  background-color: hsla(0, 0%, 100%, 0.8);
  backdrop-filter: blur(24px);
  gap: 2rem;
  display: flex;
  flex-direction: column;
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.85rem 0;
  .close_btn {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 0.15rem;

    svg {
      width: $lg;
      height: $lg;
      fill: #000;
      transition: transform 0.3s ease;
    }
    &:hover {
      svg {
        transform: scale(1.1);
      }
    }
  }
}
.logo {
  font-size: $base;
}
.content {
  flex: 1;
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    list-style: none;
  }
  button,
  a {
    padding: 0;
    width: fit-content;
    font-size: $sm;
    text-transform: capitalize;
    background-color: transparent;
  }
  .link_hover {
    transition: opacity 200ms ease 100ms;
    &:hover {
      opacity: 0.8;
    }
  }
}
.bag_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}
.bag_indicator {
  width: 22px;
  height: 22px;
  transition: width 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  .bag_indicator_content {
    font-size: 10px;
    line-height: 1;
    display: flex;
    width: 22px;
    height: 22px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    background-color: #000;
    opacity: 1;
    transition: opacity 200ms ease 100ms, transform 200ms ease 100ms,
      background 300ms ease 0s;
  }
}
.bottom {
  font-size: $xs;
  ul {
    list-style: none;
    li {
      a {
        line-height: 1.5;
        text-transform: uppercase;
      }
    }
  }
  .flex {
    gap: 0.75rem;
    display: flex;
  }
}
