.container {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  background: #edf2f7;
  &.image_radius {
    border-radius: 10px;
  }

  .blurred_image_link {
    width: 100%;
    height: 100%;
  }
  .blurred_image {
    object-fit: cover;
    transition: all 0.7s ease-in-out;
  }
  .image_loading {
    transform: scale(1.1);
    filter: blur(40px) grayscale(50%);
  }
  .image_loaded {
    transform: scale(1);
    filter: blur(0) grayscale(0);
  }
}
