.container {
  bottom: 0;
  color: #fff;
  margin: 0 auto;
  position: sticky;
  font-size: 0.8rem;
  margin-bottom: 2rem;
  width: clamp(90%, 70%, 1440px);
  a {
    width: fit-content;
    font-size: 1rem;
    line-height: 1.5;
    transition: opacity 0.3s ease;
    text-transform: capitalize;
    &:hover {
      opacity: 0.6;
    }
  }
}

.slogan {
  color: #e6ac44;
}
.content {
  z-index: 2;
  position: relative;
  background-color: #0a0400;
  border-radius: 15px;
  overflow: hidden;
}
.grain {
  gap: 2rem;
  display: flex;
  position: relative;
  padding: 2rem 1.5rem;
  flex-direction: column;
  &:before {
    top: 0;
    left: 0;
    content: "";
    height: 100%;
    width: 100%;
    opacity: 0.04;
    position: absolute;
    pointer-events: none;
    background-repeat: repeat;
    background-size: 20rem 20rem;
    background-image: url("/images/grain-light.png");
  }
}
.logo {
  font-size: 1.15rem;
}

.row_ul {
  gap: 0.75rem;
  display: flex;
  list-style: none;
  font-size: 0.85rem;
  li {
    a {
      font-size: 0.85rem;
    }
  }
}
.cell_ul {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  list-style: none;
}
.top {
  gap: 2em;
  display: flex;
}
.links_container {
  display: flex;
}
.bottom {
  display: flex;
  align-items: center;
  padding-top: 2rem;
  justify-content: space-around;
  border-top: 1px solid hsla(21, 30%, 91%, 0.15);
}
.footer_column {
  min-width: 120px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer_column_grow {
  flex: 1;
}
.footer_h4 {
  color: #e6ac44;
  opacity: 0.8;
  font-weight: 400;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.background_shape {
  height: 100%;
  opacity: 0.2;
  pointer-events: none;
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 200vw;
  display: flex;
  white-space: nowrap;
  animation: stream 10s linear infinite;

  .underlay_wrp {
    width: 100vw;
    height: 100%;
    position: relative;
    img {
      object-fit: cover;
    }
  }
}
@keyframes stream {
  0% {
    transform: translate(0);
  }

  to {
    transform: translate(-50%);
  }
}
@media only screen and (max-width: 1000px) {
  .footer_column {
    min-width: 90px;
  }
}
@media only screen and (max-width: 800px) {
  .top {
    flex-direction: column;
  }
  .footer_column_grow {
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid hsla(21, 30%, 91%, 0.15);
  }
  .links_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
  }
  .bottom {
    gap: 0.5rem;
    padding-top: 1.5rem;
    flex-direction: column;
  }
  .grain {
    gap: 1.5rem;
    padding: 1.5rem 1rem;
  }
  .row_ul {
    font-size: 0.75rem;
    li {
      a {
        font-size: 0.75rem;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 1rem;
    margin-bottom: 1rem;
  }
  .background_shape {
    width: 800vw;

    .underlay_wrp {
      width: 400vw;
    }
  }
}
