.container {
  gap: 0.11rem;
  display: flex;
  flex-direction: column;
  position: relative;
  &:hover {
    .image_indicator_container {
      .image_indicator_grid {
        opacity: 1;
      }
    }
  }
}
.image_wrp {
  position: relative;
  aspect-ratio: 3 / 4;
  img {
    object-fit: cover;
  }
}
.image_indicator_container {
  width: 56px;
  z-index: 1;
  top: 0px;
  position: absolute;
  height: 100%;
  grid-template-rows: 1fr;
  margin-left: 12px;
  padding: 4rem 0;

  .image_indicator_grid {
    position: sticky;
    top: calc(80px + 4rem);
    margin-bottom: 20px;
    height: calc(100vh - 80px);
    display: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 0.25rem;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}
.image_indicator {
  text-align: left;
  pointer-events: all;
  transition: border-color 0.2s ease;
  width: 54px;
  height: 76px;
  background-color: #edf2f7;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &.active_indicator {
    border-bottom: 1px solid #000;
  }
}

@media only screen and (max-width: 900px) {
  .container {
    gap: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    overflow: scroll hidden;
    max-height: 80vh;
    scroll-snap-type: x mandatory;
    &::-webkit-scrollbar {
      border-radius: 1.5px;
      background-color: rgba(0, 0, 0, 0.1);
      width: 3px;
      height: 3px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.9);
      border-radius: 1.5px;
    }
  }
  .image_wrp {
    pointer-events: none;
    scroll-snap-align: center;
  }
  .image_indicator_container {
    display: none;
  }
}
